.app {
  text-align: top ; 
  /* background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6); */
}

.app > div {
  text-align: center; 
}

.mainLogo {
  float: right;
  width: 100px ; 
  height: 100px; 
}

