
ul.TotalsDisplay {
  list-style: none ; 
  display: flex; 
  flex-direction: row; 
  font-size: xx-large;
  justify-content: space-evenly;
}

li img {
  height: 36px;
  width: 36px;
}

h1 > img {
  height: 2rem; 
  width: 2rem; 
}